.image {
  display: block;
  position: relative;
  margin: 5px auto;
}

.image>img {
  height: auto !important;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.control-container>.buttonicon {
  height: 24px;
  width: 24px;
}

.control-container .active {
  border: 1px solid #666;
}