<div id="imageUploadModalError" class="popup">
  <div class="popup-content">
    <h2 class="error"></h2>
    <br>
    <button id="closeErrorModalButton">Close</button>
  </div>
</div>

<div id="imageUploadModalLoader" class="popup">
  <div class="popup-content">
    <p class="loadingAnimation"></p>
  </div>
</div>

<span id="inline_image_toolbar" class="control-container" style=" display: none;
                                                                    background: white;
                                                                    padding: 10px;
                                                                    border-radius: 5px;
                                                                    box-shadow: 2px 2px 2px lightgrey;">
  <b id="widthValue" unselectable="on" contenteditable=false style="margin-right: 10px;"></b>
  <input type="range" unselectable="on" class="control " id="_width" name="width" min=10 max=100 step=2>
  <button class="buttonicon buttonicon-align-left" id="left" title="Left" aria-label="Left"></button>
  <button class="buttonicon buttonicon-align-right" id="right" title="Right" aria-label="Right"></button>
  <button class="buttonicon buttonicon-align-center active" id="center" title="Center" aria-label="Center">
  </button>
</span>